header {
    margin:38px 0px 38px 54px;

}
.logo-img {
    display: inline-block;
    vertical-align: middle;
}
.nav{
    display: inline-block;
    vertical-align: middle;
}
.nav-li {
    display: inline-block;
    font-size: 16px;
    color: aquamarine;

}
.active-nav {
    color: red;
}
